* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  background-color: rgb(129, 129, 129, 25%);
}

.container {
  padding: 2rem;
  border: 1px solid black;
}

.first-box {
  max-width: 25rem;
  background-color: orange;
}

.second-box {
  max-width: 60rem;
  background-color: white;
}

.container-section {
 padding: 2rem;
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
}

.nogap {
  gap: 0;
}

.container-section > .section-main-title {
  font-size: 2rem;
}

.container-section > .section-main-description {
  font-size: 1rem;
  letter-spacing: 2px;
}

.container-section > img {
  border-bottom: 2px solid white;
  margin-bottom: 0.5rem;
  padding: 1rem 1rem 0 1rem;
}

.container-section > .section-title {
  font-size: 1.6rem;
  letter-spacing: 3px;
}

.section-date{
  font-size: 1.2rem;
  font-weight: bold;
}

.white-font{
  color: white;
}

.orange-font {
  color: rgb(255, 123, 0);
}

.section-subtitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.section-description{
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.section-list{
  font-size: 1.2rem;
}

.section-list > li {
  line-height: 1.5rem;
}

.contact-box {
  display: flex;
  align-items: center;
}

.contact-box > img {
  padding-right: 0.3rem;
}

.contact-box > .section-subtitle > a {
  text-decoration: none;
  color: black
}

.contact-box > .section-subtitle > a:hover {
  color: white;
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 750px) {
  body{
    flex-direction: column;
    align-items: center;
  }

  .first-box {
    max-width: 100%;
  }

  .container-section > img {
    width: 200px;
  }
}